.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.invisible{
    color: red;
}
.invisible2{
    color: rgb(18, 4, 216);
}
.disable{
    display: none;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
}
.button_enter{
    color: rgb(247, 0, 255);
    background: none;
    padding: 5px 40px 5px 40px;
}
.button_enter:hover{
    background: rgba(255, 0, 0, 0.13);
    border: 1px solid red;
    padding: 5px 40px 5px 40px;
    color: rgb(0, 102, 255);
}